#wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: grey;
}
h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: grey;
  margin: 10px;
}
#challengeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
h4 {
  border: 2px solid orange;
  width: 150px;
  text-align: center;
  padding: 20px 0px 20px 0px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: grey;
}
.challenges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
p {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: grey;
}
.prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 90%;
}
button {
  width: 100px;
  background: orange;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
.hideMobile {
  display: none;
}
@media screen and (min-width: 768px) {
  h1 {
    width: 50%;
    font-size: 40px;
  }
  h3 {
    width: 50%;
  }
  #challengeContainer {
    width: 90%;

    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .challenges {
    width: 30%;
    height: 250px;
  }
}
